# OS Stuff
*.DS_Store

# Node Stuff
node_modules

# IDE Stuff

## phpStorm
.idea

## SublimeText
*.sublime-workspace
*.sublime-project

# Project Stuff
deploy.sh
deploy-old.sh
vendor/
composer.lock
yarn.lock
package-lock.json
*composer.phar

wordpress/

*.sass-cache
*.scssc
