# OS Stuff
*.DS_Store

# Node Stuff
node_modules

# IDE Stuff

## phpStorm
.idea

## SublimeText
*.sublime-workspace
*.sublime-project

# Project Stuff
deploy.sh
deploy-old.sh
vendor/
composer.lock
yarn.lock
package-lock.json
*composer.phar
yarn.lock
yarn-error.log

# WP Scripts Block Editor
/build/

# Local WordPress
/wp-content/

# ignore local environment wordpress
wordpress/

*.sass-cache
*.scssc
